@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A maior comunidade de Animes do Brasil.</p>
    <div class="bg-dark container mb-3" >
        <img src="~/image/animes-removebg.png" class="img-fluid" alt="animes community">
    </div>
</div>
